.labeled-checkbox,
.vts-labeled-checkbox {
    /* #region common */
    display: flex;
    position: relative;
    padding-block: var(--2px);
    > label,
    > input {
        margin: 0;
        padding: 0;
    }
    > label {
        flex-shrink: 0;
    }
    &:first-child {
        padding-block-start: 0;
    }
    &:last-child {
        padding-block-end: 0;
    }
    &.a-start > label {
        text-align: start;
    }
    &.a-center > label {
        text-align: center;
    }
    &.a-end > label {
        text-align: end;
    }
    /* #endregion */
    /* #region start/end */
    &.p-start,
    &.p-end {
        flex-direction: row;
        align-items: center;
    }
    &.p-start > label {
        padding-inline-end: 0.5rem;
    }
    &.p-end > label {
        padding-inline-start: 0.5rem;
    }
    /* #endregion */
    /* #region top/bottom */
    /* These styles only exist for the sake of technical completeness; in practice, this arrangement
       is not actually visually usable. */
    &.p-top,
    &.p-bottom {
        flex-direction: column;
        justify-items: center;
    }
    &.p-top > label {
        padding-block-end: 0.5rem;
    }
    &.p-bottom > label {
        padding-block-start: 0.5rem;
    }
    /* #endregion */
}
