.vts-labeled-container {
    display: flex;
    position: relative;
    border: var(--1px) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: inherit;
    > label,
    > span {
        flex-grow: 0;
        position: absolute;
        margin: 0;
        padding-block-start: 0;
        padding-inline-end: 0.5rem;
        padding-block-end: 0;
        padding-inline-start: 0.5rem;
        width: fit-content;
        height: fit-content;
        line-height: 1;
        background-color: inherit;
    }
    > div {
        flex-grow: 1;
    }
    /* #region top/bottom */
    &.p-top,
    &.p-bottom {
        flex-direction: column;
        padding-inline: 1rem;
    }
    &.p-top {
        margin-block-start: 0.5rem;
        padding-block: 1.25rem 1rem;
        > label,
        > span {
            inset-block-start: -0.5rem;
        }
        > div {
            margin-block-start: 0.5rem;
        }
    }
    &.p-bottom {
        margin-block-end: 0.5rem;
        padding-block: 1rem 1.25rem;
        > label,
        > span {
            inset-block-end: -0.5rem;
        }
        > div {
            margin-block-end: 0.5rem;
        }
    }
    &.p-top.a-start,
    &.p-bottom.a-start {
        > label,
        > span {
            inset-inline-start: 1rem;
        }
    }
    &.p-top.a-center,
    &.p-bottom.a-center {
        > label,
        > span {
            inset-inline-start: 0;
            inset-inline-end: 0;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
    }
    &.p-top.a-end,
    &.p-bottom.a-end {
        > label,
        > span {
            inset-inline-end: 1rem;
        }
    }
    /* #endregion */
    /* #region start/end */
    &.p-start,
    &.p-end {
        flex-direction: row;
        padding-block: 1rem;
        > label,
        > span {
            writing-mode: vertical-lr;
        }
        > label:dir(rtl),
        > span:dir(rtl) {
            writing-mode: vertical-rl;
            transform: unset;
        }
    }
    &.p-start {
        margin-inline-start: 0.5rem;
        padding-inline: 1.25rem 1rem;
        > label,
        > span {
            inset-block-start: -0.5rem;
            transform: rotate(180deg);
        }
        > div {
            margin-inline-start: 0.5rem;
        }
    }
    &.p-end {
        margin-inline-end: 0.5rem;
        padding-inline: 1rem 1.25rem;
        > label,
        > span {
            inset-block-end: -0.5rem;
            /* Workaround for bug in Gecko. */
            width: unset;
        }
        > div {
            margin-inline-end: 0.5rem;
        }
    }
    &.p-start.a-start,
    &.p-end.a-start {
        > label,
        > span {
            inset-inline-start: 1rem;
        }
    }
    &.p-start.a-center,
    &.p-end.a-center {
        > label,
        > span {
            inset-inline-start: 0;
            inset-inline-end: 0;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
    }
    &.p-start.a-end,
    &.p-end.a-end {
        > label,
        > span {
            inset-inline-end: 1rem;
        }
    }
    /* #endregion */
}
