.labeled-anchor,
.vts-labeled-anchor {
    /* #region common */
    display: flex;
    position: relative;
    padding-block: var(--2px);
    > span,
    > a {
        margin: 0;
        padding: 0;
    }
    > span {
        flex-shrink: 0;
    }
    &:first-child {
        padding-block-start: 0;
    }
    &:last-child {
        padding-block-end: 0;
    }
    &.a-start > span {
        text-align: start;
    }
    &.a-center > span {
        text-align: center;
    }
    &.a-end > span {
        text-align: end;
    }
    /* #endregion */
    /* #region start/end */
    &.p-start,
    &.p-end {
        flex-direction: row;
        align-items: flex-start;
    }
    &.p-start > span {
        padding-inline-end: 1rem;
    }
    &.p-end > span {
        padding-inline-start: 1rem;
    }
    /* #endregion */
    /* #region top/bottom */
    &.p-top,
    &.p-bottom {
        flex-direction: column;
        justify-items: start
    }
    &.p-top > span {
        padding-block-end: 0.5rem;
    }
    &.p-bottom > span {
        padding-block-start: 0.5rem;
    }
    /* #endregion */
}
