.scroll-container,
.vts-scroll-container {
    /*
     * Mandatory because of `> . content { position: absolute; }`. If `position` needs a different
     * value embed the scroll container into a parent and set `position` there.
     */
    position: relative;
    /* !! Some height must be set, whether here or from outside. */
    height: 100%;
    margin: 0;
    padding: 0;
    /* Native scroll bars on/off. */
    &:not(.native) {
        > .content {
            /* Gecko, Blink */
            scrollbar-width: none;
            /* WebKit, Blink */
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    > .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &:not(.dragging).horizontal {
        > .content {
            overflow-x: auto;
        }
    }
    &:not(.dragging).vertical {
        & > .content {
            overflow-y: auto;
        }
    }
    /* &.dragging.horizontal,
    &.dragging.vertical {
        pointer-events: none;
    } */
    > .h-bar-overlay,
    > .v-bar-overlay {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        transition: var(--scroll-bar-overlay-fade-out);
    }
    > .h-bar-overlay {
        inset-block-start: calc(100% - var(--scroll-bar-size) - var(--scroll-bar-thumb-gap));
        height: 0;
    }
    &.v-off > .h-bar-overlay {
        width: 100%;
    }
    > .v-bar-overlay {
        inset-inline-start: calc(100% - var(--scroll-bar-size) - var(--scroll-bar-thumb-gap));
        width: 0;
    }
    &.h-off > .v-bar-overlay {
        height: 100%;
    }
    > .h-bar-overlay:hover,
    > .v-bar-overlay:hover,
    &.scrolling > .h-bar-overlay,
    &.scrolling > .v-bar-overlay {
        opacity: 1;
        transition: var(--scroll-bar-overlay-fade-in);
    }
    > .h-bar-overlay > .h-bar,
    > .v-bar-overlay > .v-bar {
        position: relative;
        /* border-radius: var(--scroll-bar-border-radius); */
    }
    > .h-bar-overlay > .h-bar {
        width: 100%;
        height: var(--scroll-bar-size);
    }
    > .v-bar-overlay > .v-bar {
        height: 100%;
        width: var(--scroll-bar-size);
    }
    > .h-bar-overlay > .h-bar:hover,
    > .v-bar-overlay > .v-bar:hover {
        background-color: var(--scroll-bar-background-color);
    }
    > .h-bar-overlay > .h-bar:hover {
        border-block-start: var(--scroll-bar-border);
        border-block-end: var(--scroll-bar-border);
    }
    > .v-bar-overlay > .v-bar:hover {
        border-inline-start: var(--scroll-bar-border);
        border-inline-end: var(--scroll-bar-border);
    }
    > .h-bar-overlay > .h-bar > .h-bar-thumb,
    > .v-bar-overlay > .v-bar > .v-bar-thumb {
        position: relative;
        border-radius: var(--scroll-bar-thumb-border-radius);
    }
    > .h-bar-overlay > .h-bar > .h-bar-thumb {
        will-change: width, left, inset-inline-start, right, inset-inline-end;
        width: 100%;
        height: 100%;
        min-width: var(--scroll-bar-thumb-min-size);
        background-color: var(--scroll-bar-thumb-color);
    }
    > .h-bar-overlay > .h-bar:hover > .h-bar-thumb {
        inset-block-start: calc(-1 * var(--1px));
        height: calc(100% + var(--2px));
    }
    > .v-bar-overlay > .v-bar > .v-bar-thumb {
        will-change: height, top, inset-block-start, bottom, inset-block-end;
        width: 100%;
        height: 100%;
        min-height: var(--scroll-bar-thumb-min-size);
        background-color: var(--scroll-bar-thumb-color);
    }
    > .v-bar-overlay > .v-bar:hover > .v-bar-thumb {
        inset-inline-start: calc(-1 * var(--1px));
        width: calc(100% + var(--2px));
    }
}
