.vts-throbber {
    /* `width` and `height` must be set explicitly (with width === height). */
    /* width: <value>; */
    /* height: <value>; */
    margin: 0;
    padding: 0;
    flex-grow: 0;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--border-color-dark);
    /* `border-width` must be set explicitly. A visually appealing value is `calc(<width> / 6)`. */
    /* border-width: <value>; */
    border-bottom-color: transparent;
    /* border-left-color: transparent; */
    visibility: hidden;
    &.active {
        visibility: visible;
        /* `steps(30)` instead of `linear` reduces the CPU load in non-Safari browsers. */
        animation: throbber-rotate360 2s steps(30) infinite;
    }
}
/* Currently, Safari seems to be the only browser that performs this simple animation without any
   noticable CPU load. */
body.MacOS.WebKit .vts-throbber.active {
    animation: throbber-rotate360 2s linear infinite running;
}
@keyframes throbber-rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
