html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
}
body {
    background-color: rgba(245, 245, 245, 1);
}
#app {
    background-color: inherit;
}
